.sidebar {
    font-size: 1.6vh;
    width: 5em;
    height: 100vh;
    position: fixed;
    z-index: 10;
    background-color: var(--primary-color);

    transition: 100ms ease;

    &:hover {
        width: 16em;

        & .sidebar-bottons__text{
            display: block;
        }
    }
}

.sidebar-container {
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-botton {
    display: flex;
    flex-direction: column;

    width: 100%;

    &:nth-last-child(2){
        margin-top: auto;
    }

    &:hover {
        cursor: pointer;
    }
}

.sidebar-botton--no-pointer {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.sidebar-botton-link {
    display: flex;
    align-items: center;
    height: 5em;
    color: var(--text-color);
    text-decoration: none;

    --_transition-time: 200ms;
    transition: var(--_transition-time);
    
    & svg {
        min-width: 1.5em;
        width: 1.5em;
        margin: 0 1.75em;
        fill: var(--icon-color);
        
        transition: var(--_transition-time);
    }

    &:hover{
        background-color: var(--primary-color-darker);

        & svg {
            fill: var(--accent-color);
        }
    }

    & > .sidebar-bottons__text {
        overflow-x: hidden;
        white-space: nowrap;
        color: var(--text-color);
        display: none;
    }
}

.sidebar-botton-info {
    /* display: none; */
    display: flex;
    flex-direction: column;
    height: 0;
    margin: 0;

    overflow: hidden;

    transition: 200ms;

    & span {
        display: block;
        margin-inline: 2em;
    }
    &:hover {
        cursor: default;
    }
}

.sidebar-botton:hover .sidebar-botton-info {
    height: 20vh;
    margin: 0.5em 0;
    gap: 0.5em;
}

.sidebar-botton-logo {
    display: flex;
    align-items: center;
    height: 5em;
    text-decoration: none;
    font-weight: bold;

    --_transition-time: 200ms;
    transition: var(--_transition-time);

    & svg {
        min-width: 1.5em;
        width: 1.5em;
        margin: 0 1.75em;
        fill: var(--accent-color);
        
        transition: var(--_transition-time);
    }

    & > .sidebar-bottons__text {
        overflow-x: hidden;
        white-space: nowrap;
        color: var(--text-color);
        display: none;
    }

    & > span {
        font-size: 1.4em;
    }
}



:root {
    &.light-theme {
        & .sidebar-botton-link__light-icon {
            display: flex;
        }
    
        & .sidebar-botton-link__dark-icon {
            display: none;
        }
    }
    &.dark-theme {
        & .sidebar-botton-link__light-icon {
            display: none;
        }
    
        & .sidebar-botton-link__dark-icon {
            display: flex;
        }
    }
}

.sidebar-botton-link__light-icon, .sidebar-botton-link__dark-icon {
    display: flex;
    align-items: center;
}

[logoutBtn]:hover::after {
    content: "登出";
    position: absolute;
    left: calc(100% - 4em);
}