<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Css Tesing Page👍</title>
    <link rel="stylesheet" href="style/sidebar.css">
    <link rel="stylesheet" href="style/shared.css">
    <link rel="stylesheet" href="style/bulletion.css">
    <!-- <link rel="stylesheet" href="style/inputs.css"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC">
    <!-- <link rel="stylesheet" href="style/table.css"> -->

    <script src="js/themeManager.js"></script>
    <script src="js/bulletion.js" defer></script>
</head>
<body>
    <%- include('partials/sidebar') %>

    <main>
        <div class="bulletion">
            <div class="bulletion-side">
                <div class="bulletion-side-container" id="title-container">
                    
                </div>
            </div>
            <div class="bulletion-mid" id="content-container">
                
            </div>
            <div class="bulletion-side">
                <div class="bulletion-side-container" id="comment-container">
                </div>
            </div>
        </div>
    </main>

</body>
</html>