<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>:D</title>

	<link rel="stylesheet" href="/style/sidebar.css">
	<link rel="stylesheet" href="/style/shared.css">
	<link rel="stylesheet" href="/style/bulletion.css">
	<link rel="stylesheet" href="/style/inputs.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC">

	<script src="/js/themeManager.js"></script>

	<meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>

	<main>
		<div class="center-container">
			<h2>新ㄉ密碼</h2>
			<form action="/mail/changepassword" method="post">
				<input type="hidden" name="token" value="<%= token%>">
				<div class="input-text">
					<input type="text" name="newPassword" value="" placeholder=" ">
					<label>新的密碼</label>
				</div>
				<input class="apply-button" type="submit" value="送出">
			</form>
		</div>
	</main>

</body>
</html>