<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Css Tesing Page👍</title>

    <link rel="stylesheet" href="style/sidebar.css">
    <link rel="stylesheet" href="style/shared.css">
</head>
<body>
    <%- include('partials/sidebar') %>

    <main>
        <div>
            <p>The quick brown fox jumps over the lazy dog</p>
            <button>yes</button>
            <button>no</button>
        </div>
    
        <div>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                </tr>
                <tr>
                    <td>Bob</td>
                    <td>27</td>
                    <td>Male</td>
                </tr>
                <tr>
                    <td>Jake</td>
                    <td>17</td>
                    <td>Male</td>
                </tr>
                <tr>
                    <td>lily</td>
                    <td>87</td>
                    <td>Female</td>
                </tr>
            </table>
        </div>
    
        <div>
            <input type="text" name="foo" id="">
            <button>asd</button>
        </div>
    </main>

</body>
</html>