<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>:D</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' type='text/css' media='screen' href='main.css'>
	<script src='main.js'></script>
</head>
<body>
	<form action='/db/drop' method="post">
		<input id="board" type="submit" name="button" value="drop" />
	</form>
	<form action='/db/init' method="post">
		<input id="board" type="submit" name="button" value="init" />
	</form>
	<form action='/db/reset' method="post">
		<input id="board" type="submit" name="button" value="reset" />
	</form>
</body>
</html>