<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>:D</title>

	<link rel="stylesheet" href="/style/sidebar.css">
	<link rel="stylesheet" href="/style/shared.css">
	<link rel="stylesheet" href="/style/bulletion.css">
	<link rel="stylesheet" href="/style/inputs.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC">

    <script src="/js/themeManager.js"></script>
	
	<meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>

    <main>
        <div class="center-container">
            <h2>啊我忘ㄌ</h2>
			<form action="/main/forgotpassword" method="post">
				<input type="text" name="user_ID" value="">
				<input type="submit" value="送出">
			</form>
        </div>
    </main>

</body>
</html>