<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>:D</title>

	<link rel="stylesheet" href="/style/shared.css">
	<link rel="stylesheet" href="/style/inputs.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC">

	<script src="/js/themeManager.js"></script>

	<meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body style="padding: 0; margin: 0;">

	<form action="/mail/forgotpassword" method="post" class="center-container" style="padding: 0; height: 100vh;">
		<h2>啊我忘ㄌ</h2>

		<div class="input-text">
			<input type="text" name="user_ID" value="" placeholder=" ">
			<label>使用者ID</label>
		</div>
		<br>
		<input type="submit" value="送出" class="apply-button">
	</form>

</body>
</html>