<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>:D</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>

	<link rel="stylesheet" href="/style/shared.css">
	<link rel="stylesheet" href="/style/inputs.css">

    <script src="/js/themeManager.js"></script>
</head>
<body style="margin: 0; padding: 0;">

	<div style="margin: 0; padding: 0; height: 100vh; display: flex; align-items: center; justify-content: center;">
		<form style="display: flex; flex-direction: column; align-items: center;" method="post" action='/login'>
			<h2 style="margin: 0.5rem;">請登入</h2>
			<div class="input-text">
                <input type="text" name="user_ID" value="" placeholder=" ">
                <label for="uName">帳號</label>
            </div>
			<div class="input-text">
                <input type="password" name="password" value="" placeholder=" ">
                <label for="uName">密碼</label>
				<div style="text-align: right;">
					<a class="non-decoration-hyperlink" style="font-size: 0.8rem; text-align: right;" href="/mail/forgotpassword">忘記密碼?</a>
				</div>
            </div>
			<input type="hidden" name="redirect" value="<%= redirect %>">
			<input class="apply-button" type="submit" name="button" value="登入" />
		</form>
	</div>
</body>
</html>