<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>:D</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>

	<form method="post" action='/login'>
		<input type="text" name="user_ID" value="a1095500" />
		<input type="text" name="password" value="password" />
		<input type="submit" name="button" value="login" />
	</form>
</body>
</html>