<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>:D</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' type='text/css' media='screen' href='main.css'>
	<script src='main.js'></script>
</head>
<body>
	<form method="post" action='/residentApplication/apply'>
		<input type="submit" name="button" value="apply" />
	</form>
	<form method="post" action='/residentApplication/list'>
		<input type="submit" name="button" value="list" />
	</form>
    <form method="post" action='/residentApplication/list_fee'>
		<input type="submit" name="button" value="list_fee" />
	</form>
	<form method="post" action='/residentApplication/info'>
		<input type="submit" name="button" value="info" />
	</form>
	<form method="post" action='/residentApplication/approve'>
		<input type="submit" name="button" value="approve" />
	</form>
	<form method="post" action='/residentApplication/modify'>
		<input type="submit" name="button" value="modify" />
	</form>

	<form method="post" action='/residentApplication/delete'>
		<input type="submit" name="button" value="delete">
	</form>

</body>
</html>