<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>:D</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' type='text/css' media='screen' href='main.css'>
	<script src='main.js'></script>
</head>
<body>
	<form method="post" action='/residentApplication/apply'>
		<input type="number" name="rA_ID" value="123" />
		<input type="date" name="rA_semester" value="2023-06-13" />
        <input type="text" name="dorm_name" value="123" />
        <input type="number" name="rA_approve" value="0" />
        <input type="number" name="rA_fee" value="10000" />
        <input type="text" name="student_ID" value="a1095500" />
		<input type="submit" name="button" value="hashPassword" />
	</form>
	<form method="post" action='/residentApplication/list'>
		<input type="submit" name="button" value="list" />
	</form>
    <form method="post" action='/residentApplication/list_fee'>
		<input type="submit" name="button" value="list_fee" />
	</form>
	<form method="post" action='/residentApplication/info'>
        <input type="number" name="rA_ID" value="123" />
		<input type="submit" name="button" value="info" />
	</form>
	<form method="post" action='/residentApplication/approve'>
        <input type="number" name="rA_ID" value="123" />
        <input type="text" name="dorm_name" value="123" />
		<input type="submit" name="button" value="approve" />
	</form>
	<form method="post" action='/residentApplication/modify'>
		<input type="number" name="rA_ID" value="123" />
		<input type="date" name="rA_semester" value="2023-06-13" />
        <input type="text" name="dorm_name" value="123" />
        <input type="number" name="rA_approve" value="0" />
        <input type="number" name="rA_fee" value="10000" />
        <input type="text" name="student_ID" value="a1095500" />
		<input type="submit" name="button" value="hashPassword" />
	</form>

	<form method="post" action='/residentApplication/delete'>
        <input type="number" name="rA_ID" value="123" />
		<input type="submit" name="button" value="delete">
	</form>

</body>
</html>