<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>:D</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel="stylesheet" href="/style/sidebar.css">
	<link rel="stylesheet" href="/style/shared.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC">

    <script src="/js/themeManager.js"></script>
    <script src="/js/bulletion.js" defer></script>
    <script src="/js/sidebar.js" defer></script>
</head>
<body>
	<%- include('partials/sidebar') %>

	<main>
		<form method="get" action='/residentApplication/'>
			<input type="submit" name="button" value="list" />
		</form>
		<form method="post" action='/residentApplication/apply'>
			<input type="date" name="rA_semester" value="2023-06-13" />
			<input type="text" name="dorm_name" value="123" />
			<input type="number" name="rA_fee" value="10000" />
			<input type="text" name="student_ID" value="a1095500" />
			<input type="submit" name="button" value="apply" />
		</form>
		<form method="post" action='/residentApplication/delete'>
			<input type="number" name="rA_ID" value="123" />
			<input type="submit" name="button" value="delete">
		</form>
		<form method="post" action='/residentApplication/studentDelete'>
			<input type="text" name="student_ID" value="123" />
			<input type="submit" name="button" value="delete">
		</form>
		<form method="post" action='/residentApplication/modify'>
			<input type="date" name="rA_semester" value="2023-06-13" />
			<input type="text" name="dorm_name" value="123" />
			<input type="number" name="rA_fee" value="10000" />
			<input type="text" name="student_ID" value="a1095500" />
			<input type="submit" name="button" value="modify" />
		</form>
		<form method="get" action='/residentApplication/list'>
			<input type="submit" name="button" value="list" />
		</form>
		<form method="get" action='/residentApplication/list_fee'>
			<input type="submit" name="button" value="list_fee" />
		</form>
		<form method="get" action='/residentApplication/info'>
			<input type="number" name="rA_ID" value="123" />
			<input type="submit" name="button" value="info" />
		</form>
		<form method="get" action='/residentApplication/studentInfo'>
			<input type="text" name="student_ID" value="123" />
			<input type="submit" name="button" value="studentinfo" />
		</form>
		<form method="post" action='/residentApplication/approve'>
			<input type="number" name="rA_ID" value="123" />
			<input type="text" name="r_number" value="123" />
			<input type="submit" name="button" value="approve" />
		</form>
		
	
		
	</main>

</body>
</html>