<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>:D</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' type='text/css' media='screen' href='main.css'>
	<script src='main.js'></script>
</head>
<body>


	<form method="post" action='/users/admin/insert'>
		<input type="text" name="user_ID" value="a1095532" />
		<input type="text" name="user_name" value="NODE" />
		<input type="text" name="sex" value="0" />
		<input type="text" name="password" value="password" />
		<input type="text" name="email" value="test@node.js" />
		<input type="text" name="eroll_year" value="2023" />
		<input type="text" name="phnumber" value="0911222333" />
		<input type="submit" name="button" value="submitComment" />
	</form>

</body>
</html>