<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>請記好欸</title>

    <link rel="stylesheet" href="/style/shared.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC">
    <script src="/js/themeManager.js"></script>

</head>
<body>
    <div class="center-container" style="height: 100vh; padding: 0;">
        <h1>密碼重設成功</h1>
        <span style="color: var(--icon-color);">將在5秒後跳轉至<a href="/login">登入頁面</a>...</span>
    </div>
    <script>
        setTimeout(() => {
            window.location.replace('/login');
        }, 5000);
    </script>
</body>
</html>